@model DocumentManagerSample.Models.IndexModel

@{
    ViewBag.Title = "文書管理";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="page-header">
    <h4>文書管理</h4>
</div>

<div class="row">
    <div class="form-group col-lg-1 col-md-offset-10">
        <button type="button" class="btn btn-warning glyphicon glyphicon-pencil">　作成</button>
    </div>
</div>


@using (Ajax.BeginForm("Search", "Document",
                                            new AjaxOptions { 
                                                UpdateTargetId="DocListHolder",
                                                LoadingElementId="loading"
                                            }))
{
    <div class="form-group panel panel-default">
        <div class="panel-heading">検索条件</div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="検索キーワードを入れてください">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">カテゴリ</span>

                            @Html.DropDownListFor(model => model.category.id,
                                                new SelectList(Model.lstCategory, "id", "categoryName"), "指定なし",
                                                new { @class = "form-control" })

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="btn-group col-md-10" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="checkbox" autocomplete="off" checked>仮 保 存　
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox" autocomplete="off">確 定　
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox" autocomplete="off">削 除　
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox" autocomplete="off">自分が作成した文章以外も検索
                            </label>
                        </div>

                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="glyphicon glyphicon-search"></i> 検 索
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>

    <img id="loading" src="~/Content/images/DSC_0218.jpg" />
}

<div class="form-inline">
    <div class="row">
        <div class="col-md-2 col-md-offset-7">
            <div class="dataTables_length" id="example_length">
                <label>
                    <select name="example_length" aria-controls="example" size="1">
                        <option selected="selected" value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> 件ずつ
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dataTables_length" id="example_length">
                <select name="example_length" aria-controls="example" size="1">
                    <option selected="selected" value="koiujyun">最終更新日時（降順）</option>
                    <option value="syoujyunn">最終更新日時（昇順）</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div>
    <div id="DocListHolder">
    </div>
</div>



