<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr role="row">
                    <th tabindex="0" class="sorting" role="columnheader" aria-controls="example" style="width: 179px;" aria-label="Rendering engine: activate to sort column ascending" rowspan="1" colspan="1">文書名</th>
                    <th tabindex="0" class="sorting_desc" role="columnheader" aria-controls="example" style="width: 261px;" aria-label="Browser: activate to sort column ascending" aria-sort="descending" rowspan="1" colspan="1">状況</th>
                    <th tabindex="0" class="sorting" role="columnheader" aria-controls="example" style="width: 240px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">作成者</th>
                    <th tabindex="0" class="sorting" role="columnheader" aria-controls="example" style="width: 154px;" aria-label="Engine version: activate to sort column ascending" rowspan="1" colspan="1">最終更新日時</th>
                </tr>
            </thead>

            <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr class="gradeA odd">
                    <td>診療情報提供書_テスト患者</td>
                    <td class="  sorting_1">仮保存</td>
                    <td class=" ">テスト　医師</td>
                    <td class="center ">2015/01/22 10:10</td>
                </tr>
                <tr class="gradeA">
                    <td>診療情報提供書_テスト患者</td>
                    <td class="  sorting_1">仮保存</td>
                    <td class=" ">テスト　医師</td>
                    <td class="center ">2015/01/22 10:10</td>
                </tr>
                <tr class="gradeA odd">
                    <td>診療情報提供書_テスト患者</td>
                    <td class="  sorting_1">仮保存</td>
                    <td class=" ">テスト　医師</td>
                    <td class="center ">2015/01/22 10:10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
